.moon{
    position:absolute;
    margin:auto;
    top: 310vh;
    right: 20vw;
    background-color:transparent;
    height:100px;
    width:100px;
    border-radius:50%;
    box-shadow:25px 10px 0 0 #f0e68c8f;
}