.navbar {
  display: flex;
  width: 97vw;
  position: fixed;
  top: 0%;
  justify-content: space-between;
  align-items: center;
  padding: 1% 5vw;
  background-color: transparent;
  color: white;
  z-index: 6;
}

.navbar.scrolled{
  background-color: #9ec8db8e;
}

.navbar-brand a {
  color: #e3d3e9;
  text-decoration: none;
  font-size: 1.5rem;
}

.navbar-menu {
  display: flex;
  gap: 1rem;
}
  
.navbar-item {
  color: white;
  text-decoration: none;
}
  
.navbar-burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
  
.navbar-burger span {
  height: 2px;
  width: 25px;
  background-color: white;
  margin: 4px;
}

.navbar-item.active {
  border-bottom: 2px solid #ffffff;
}
  
/* Media queries for responsive design */
@media (max-width: 768px) {
  .navbar {
    padding: 1%;
    position: fixed;
  }

 .navbar-menu {
    display: none;
    flex-direction: column;
    width: 98%;
    background-color: #9ec8db;
    position: absolute;
    top: 50px;
    left: 0;
    padding: 1%;
 }
  
 .navbar-menu.is-active {
    display: flex;
 }
  
 .navbar-burger {
    display: flex;
 }
}
  