#projects {
  min-height: 100vh;
  text-align: left;
  width: 90vw;
}

.project-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.columnProy {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  height: 90vh;
  border-radius: 5px;
  background-color: #e0e0e0;
  padding: 13px;
  position: relative;
  z-index: 1; /* Asegurando que la columna esté en una capa visible */
}

.project-container button {
  padding: 2%;
  text-align: center;
  background-color: white;
}

.project-card {
  position: relative;
  width: 100%;
  height: 300px; /* Ajusta según sea necesario */
  margin-bottom: 20px;
  cursor: pointer;
}

.project-card img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  border-radius: 5px;
}

.project-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-details .Ptools {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5px;
}

.project-details .Ptools .tool {
  background: #cbd7f7;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  position: relative;
  z-index: 2; /* Asegurando que los botones estén en una capa visible */
}

.navigation-buttons button {
  background: #61acac; /* Color de botón */
  color: white;
  width: 10%;
  border: none;
  padding: 1%;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  z-index: 3; /* Asegurando que los botones estén en una capa visible */
}

.navigation-buttons button:hover {
  background: #5889a0;
  border: none;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4; /* Asegurando que el popup esté en una capa superior */
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  position: relative;
  z-index: 5; /* Asegurando que el contenido del popup esté en la capa más alta */
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.project-detail .Ptools {
  margin-bottom: 10px;
}

.project-detail .Ptools .tool {
  background: #e0e0e0;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
}
