/* Estilos base */
.projects-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ffffff;
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
    width: 100%;
}

#projects {
    min-height: 100vh;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px; /* Añadido padding para que no toque los bordes */
}

.project-container, .tools-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: top;
}

.project-container img, .tools-container .tool img {
    max-width: 100%;
    height: auto;
}

.project-container video {
    padding: 0%;
    height: 100%;
    cursor: pointer;
}

.tool {
    text-align: center;
}

.tool img {
    width: 50px;
    height: auto;
}

.tool p {
    margin-top: 10px;
    font-weight: bold;
}

.rowProy {
    height: 50vh;
    display: flex;
    padding: 1rem;
    align-items: center;
}

.rowProy img {
    cursor: pointer;
    height: 100%;
    padding: 1%;
}

.columnProy {
    display: flex;
    flex-direction: column;
    padding: 1%;
}

/* Media Queries */

/* Tablets y pantallas pequeñas */
@media (max-width: 915px) {
    .projects-title {
        font-size: 2rem;
    }

    .project-container, .tools-container {
        flex-direction: column;
        align-items: center;
    }

    .rowProy {
        height: auto;
        flex-direction: column;
    }

    .rowProy img, video {
        width: 80%;
        height: auto;
    }
}

/* Teléfonos móviles */
@media (max-width: 480px) {
    .projects-title {
        font-size: 1.5rem;
    }

    .projects-grid {
        gap: 10px;
    }

    .rowProy {
        padding: 0.5rem;
    }

    .rowProy img, video {
        width: 80%;
    }

    .tool img {
        width: 40px;
    }

    .tool p {
        font-size: 0.9rem;
    }
}