/* App.css */
body, html, #root {
  height: 100%;
  margin: 0;
  width: 100%;
}

body {
  overflow-x: hidden;
}

.background {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(
    to bottom, 
    #9ec8db 0%, 
    #86a8e7 25%, 
    #feb47b 40%, 
    #ff7e5f 50%, 
    #8C6485 60%, 
    #343D73 70%, 
    #113059 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.space {
  height: fit-content;
}